
<h2>Editar </h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>


<form class="form-horizontal">
  <fieldset>

  <%= devise_error_messages! %>

  <div class="form-group">
      <%= f.label :name,:class => 'col-lg-2 control-label'%>
      <div class="col-lg-10">
        <%= f.text_field :name, :autofocus => true, :class =>"form-control" , :placeholder => "Nombre",:required => true%>
    </div>
  </div>  
  
  <div class="form-group">
      <%= f.label :lastname,:class => 'col-lg-2 control-label'%>
      <div class="col-lg-10">
        <%= f.text_field :lastname, :autofocus => true, :class =>"form-control" , :placeholder => "Apellidos",:required => true%>
    </div>
  </div>    

  <div class="form-group">
      <%= f.label :email ,:class => "col-lg-2 control-label"%><br />
      <div class="col-lg-10">
        <%= f.email_field :email, :autofocus => true ,:class => "form-control"%>
      </div>
    </div>
<br><br><br>
  

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      Currently waiting confirmation for: <%= resource.unconfirmed_email %>
  <% end %>


  <div class="form-group">
    <%= f.label :password ,:class => "col-lg-2 control-label"%> 
    <div class="col-lg-10">
      <%= f.password_field :password, :autocomplete => "off" ,:class => "form-control"%>
    </div>
  </div>
<br><br><br>
  <div class="form-group">
    <%= f.label :password_confirmation ,:class => "col-lg-2 control-label"%><br />
    <div class="col-lg-10">
      <%= f.password_field :password_confirmation ,:class => "form-control"%>
    </div>
  </div>    
      <br><br><br>
  <div class="form-group">
    <%= f.label :current_password ,:class => "col-lg-2 control-label"%> 
    <div class="col-lg-10">
      <%= f.password_field :current_password ,:class => "form-control"%>
    </div>
  </div>    

  <br><br><br>
  <%= f.submit "Update" ,:class => "btn btn-primary"%>
<br><br><br>
  </fieldset>
</form>
<% end %>

<p>No estoy feliz? <%= button_to "Cancelar mi cuenta", registration_path(resource_name), :data => { :confirm => "Esta seguro?" }, :method => :delete ,:class => "btn btn-danger"%></p>


