
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <legend>Nuevo Usuario</legend>

<form class="form-horizontal">
  <fieldset>

    <div class="form-group">
      <%= f.label :name,:class => 'col-lg-2 control-label'%>
      <div class="col-lg-10">
        <%= f.text_field :name, :autofocus => true, :class =>"form-control" , :placeholder => "Nombre",:required => true%>
    </div>
  </div>  
  
  <div class="form-group">
      <%= f.label :lastname,:class => 'col-lg-2 control-label'%>
      <div class="col-lg-10">
        <%= f.text_field :lastname, :autofocus => true, :class =>"form-control" , :placeholder => "Apellidos",:required => true%>
    </div>
  </div>    

	<div class="form-group">
      <%= f.label :email,:class => 'col-lg-2 control-label'%>
      <div class="col-lg-10">
      	<%= f.email_field :email, :autofocus => true, :class =>"form-control" , :placeholder => "Email",:required => true%>
	  </div>
  </div>
  <br><br><br>

    <div class="form-group">
      <%= f.label :password,:class => 'col-lg-2 control-label' %>
      <div class="col-lg-10">
      	<%= f.password_field :password , :autofocus => true,:class =>"form-control", :placeholder => "Password",:required => true%>
	  </div>
    </div>
<br>  	<br><br>
  	<div class="form-group">
      <%= f.label :confirmacion_password,:class => 'col-lg-2 control-label'%>
      <div class="col-lg-10">
      	<%= f.password_field :password_confirmation ,:autofocus => true, :class =>"form-control" , :placeholder => "Confirmar Password",:required => true%>
	  </div>
    </div>
  <br><br><br>
 

  <div><%= f.submit "Aceptar", :class => "btn btn-primary" %></div>


</fieldset>
</form>

<% end %>


