<%= form_for @answer_user,url: crear_path, :html => { :multipart => true } do |f| %> 
<!--%= form_tag( crear_path, :method=>'post', :multipart => true) do %-->
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Nombre: </strong><%= @cuestionario.name %></div>
    <div class="panel-body">
     
      
            <% @cuestionario.questions.each do |pregunta| %>
              
                <p class="text-primary"><label class="text-info"><%= pregunta.content %></label></p>
                    <ul>
                    <% pregunta.answers.each do |respuesta| %>
                       
                      <!--label class="text-warning"><%= respuesta.content %></label-->
                        <label class="text-warning" >
                          <%= radio_button_tag  'resp[' + pregunta.id.to_s + '][]', respuesta.content, respuesta.content%> <%=respuesta.content%>
                        </label>
                          <%= hidden_field_tag 'id_pregunta[]', pregunta.id %>
                        <br>
                    <% end %>
                    </ul>
                    <br>
            <% end %>

            <%= f.hidden_field :usuario_id,:value=>current_user.id %>
            <%= f.hidden_field :survey_id,:value=>@cuestionario.id %>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <%= f.label :archivo, "Documento" %>
        <%= f.file_field :archivo %>
      </h3>
    </div>
  </div>

            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-10">
                <input type="submit" value="Aceptar" class="btn btn-success">
              </div>
            </div>
       <%= link_to image_tag("ic_action_previous_item.png"), :back,:class=>"btn btn-primary" %>

   </div>
  </div>  
<% end %>