<%= form_tag( crear_path, :method=>'post', :multipart => true) do %>
  <div class="panel panel-default">
    <div class="panel-heading"><strong>Nombre: </strong><%= @cuestionario.name %></div>
    <div class="panel-body">
     
      
            <% @cuestionario.questions.each do |pregunta| %>
              
                <p class="text-primary"><label class="text-info"><%= pregunta.content %></label></p>
                    <ul>
                    <% pregunta.answers.each do |respuesta| %>
                       
                      <!--label class="text-warning"><%= respuesta.content %></label-->
                        <label class="text-warning" >
                        <%= radio_button_tag  'resp[' + pregunta.id.to_s + '][]', respuesta.content, respuesta.content%> <%=respuesta.content%>
                        </label>
                        <%= hidden_field_tag 'id_pregunta[]', pregunta.id %>
                        <br>
                    <% end %>
                    </ul>
                    <br>
              
            <% end %>
            <%= hidden_field_tag :id_cuestionario, @cuestionario.id %>
            <%= hidden_field_tag :id_usuario, current_user.id %>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-10">
                <input type="submit" value="Aceptar" class="btn btn-success">
              </div>
            </div>
       
     

   </div>
  </div>  
<% end %>