

<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>


<h3><legend>Reporte del cuestionario</legend></h3>

<div class="panel panel-primary">

<% if @answersUsers.size > 0 %>

	<% pos = Array.new %>
	<% @var_idd = 0 %>
	<% @questions.each do |question| %>
		
		<% @var_idd = question.id %>
		<div class="panel-heading" onClick="grafica(<%= question.id %>);" >
			<h3 class="panel-title"> <%= question.content%> </h3>
		</div>

			<div id="container<%= question.id %>" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto">

  			<script type="text/javascript">

	$(function grafica(idd) {

	
	<% @question = Question.find(@var_idd) %>
	  
	<% ary = Array.new %>
	<% aryPos = Array.new %>
	<% ini = 0 %>
	<% @question.answers.each do |answer| %>
			   
		<% @contador = 0 %>
		<% @answersUsers.each do |answerUser| %>
			<% if answerUser.answer_id == answer.id %>
				<% @contador = @contador+1 %>
			<% end %>				
		<% end %>	
		
		<% ary.push(@contador) %>
		<% aryPos.push(answer.content) %>
		<% ini = ini+1%>
	<% end %>
  
    $('#container<%= @var_idd %>').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Grafica' 
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {


            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: 
        [{
            type: 'pie',
            name: 'Porcentaje',
            data: 
            [
            	<% suma = ary.sum%>
            	<% index = 1 %>
            	
            	<% ary.each do |value| %>
					<% valor = (value*100)/suma%>
					['Respuesta #'+ <%= index %>,   <%= valor %>]
					<% index = index+1 %>

					<% if index <= aryPos.size+1 %>
						,
					<% end %>

				<% end %>

                
            ]
        }]
    });
}
);


</script>
  			
		</div>

	<% end %>
	
	<% @answersUsers.each do |answerUser| %>
			<% if answerUser.archivo.exists? %>
				<h4>
					<a href="/answer_users/download/<%=answerUser.id%>"><%=answerUser.archivo_file_name.to_s %></a>
					<% hu = User.find(answerUser.usuario_id) %><br>
					<ul>
						Enviado por: <%= hu.name.to_s %> <%= hu.lastname.to_s %> <br> 
						En fecha: <%= hu.updated_at %>
					</ul>
					

				</h4><br>
			<% end %>				
	<% end %>	
<% end %>



</div>

<% if @answersUsers.size == 0 %>
	<h4><legend>Ningun usuario respondio el cuestionario</legend></h4>
<% end %>

<%= link_to image_tag("ic_action_previous_item.png"), :back,:class=>"btn btn-primary" %>



