<%= form_for(@evento) do |f| %>

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>  
	<script>
  $(function() {
    $( "#fecha_inicio" ).datepicker();
  });
  </script>
  <script>
  $(function() {
    $( "#fecha_fin" ).datepicker();
  });
  </script>  
	

<form class="form-horizontal">
  <fieldset>
    <div class="form-group">
      <label class="col-lg-2 control-label">Nombre:</label>
      <div class="col-lg-8">
	  	<%= f.text_field :nombre, :class =>"form-control", :placeholder => "Nombre" %>
	  </div>
    </div>

    <br><br><br>
    <div class="form-group">
      <%= f.label :descripcion, :class =>"col-lg-2 control-label" %>
	  <div class="col-lg-8">
      	<%= f.text_area :descripcion, :class =>"form-control", :rows=>"3" %>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>

    <br><br>
    <br><br><br><br><br><br>
	


<div class="form-group">
      <label for="inputDate" class="col-lg-2 control-label">Fecha inicio:</label>
      <div class="col-lg-8">
         <%= f.date_field :fecha_inicio, :class=>'form-control input-append',:"data-format"=>'dd/MM/yyyy',:id =>"fecha_inicio" , :required => true, :style=>"border-bottom-left-radius: 4px;  border-top-left-radius: 4px;"%>
      </div>
  </div><br><br>



  <div class="form-group">
      <label for="inputDate" class="col-lg-2 control-label">Fecha fin:</label>
      <div class="col-lg-8">
         <%= f.date_field :fecha_fin, :class=>'form-control input-append',:"data-format"=>'dd/MM/yyyy',:id =>"fecha_fin" , :required => true, :style=>"border-bottom-left-radius: 4px;  border-top-left-radius: 4px;"%>
      </div>
  </div><br><br>


	<div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>


  </fieldset>
</form>

<% end %>