<font color="white"><h2>Lista de Eventos</h2></font>

<table class="table table-striped table-hover ">

    <% @eventos.each do |evento| %>
      <tr class="active">
        <td >
          <div class="alert alert-dismissable alert-info">
            <br>
            <strong>Evento!</strong> <br> 
            <br>
            Posts: 
            <%=evento.posts.size %> <br><br>
            <a href="/posts/index/<%=evento.id%>">Ver posts</a>

          </div>
        </td>
        <td>
          <h4>
            <%= link_to evento.nombre, evento%>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Del <%=evento.fecha_inicio%> al <%=evento.fecha_inicio%>
          </h4>  
          <div class="panel panel-info">
                <div class="panel-body">
            <%if evento.descripcion.size > 50%>
              <% string = evento.descripcion %>
              <% tr_string = string[0, 50] + "..." + string[-5,5] %>
              <%=tr_string%>
            <%else%>
              <%=evento.descripcion%>
            <%end%>
          </div>
          </div>
          
            <% if current_user != nil && current_user.rol == "admin"%>  
              <div>
                  <%= link_to image_tag("ic_action_edit.png"), edit_evento_path(evento) ,:class=>"btn btn-primary"%>
                  &nbsp;
                  <%= link_to image_tag("ic_action_discard.png"), evento, method: :delete, data: { confirm: 'Esta seguro?' }, :class=>"btn btn-primary"%>
              </div>
            <% end %>    
          
          
        </td>
      
      </tr>
    
    <% end %>
  
</table>
