<font color="white"><h2>Lista de Eventos</h2></font>

<table class="table table-striped table-hover ">

    <% @eventos.each do |evento| %>
      <tr class="active">
        <td >
          <div class="alert alert-dismissable alert-info">
            
            <strong>Evento!</strong> <br> 
            <br>
            Posts: 
            <%=evento.posts.size %> <br><br>
            <a href="/posts/index/<%=evento.id%>">Ver posts</a>
            <br><br>
          </div>
        </td>
        <td>
          
            <legend>Evento: <%= evento.nombre%></legend>
          <h4>  
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>Fecha inicio:</strong> <%=evento.fecha_inicio%> <strong>Fecha fin:</strong> <%=evento.fecha_inicio%>
          </h4>  
          
          <div>
            <%= link_to image_tag("ic_action_expand.png"), evento ,:class=>"btn btn-primary" %>
            <% if current_user != nil && current_user.rol == "admin"%>  
              
                  
                  <%= link_to image_tag("ic_action_edit.png"), edit_evento_path(evento) ,:class=>"btn btn-primary"%>
                  
                  <%= link_to image_tag("ic_action_discard.png"), evento, method: :delete, data: { confirm: 'Esta seguro?' }, :class=>"btn btn-primary"%>
              
            <% end %>    
          </div>
          
        </td>
      
      </tr>
    
    <% end %>

</table>


  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title"><%= paginate @eventos %></h3>
    </div>
  </div>



