<font color="white"><h2>Lista de Eventos</h2></font>
<br>





<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><font color="#FFF"></font></th>
      <th><font color="#FFF"></font></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    


    <% @eventos.each do |evento| %>
      <tr class="active">


        <td >
          <div class="alert alert-dismissable alert-info">
            <strong>Evento!</strong> <br> 
            <br>
            Posts: 
            <%=evento.posts.size %> <br><br>

          </div>
        </td>
        <td>
          <h4>
            <%= link_to evento.nombre, evento,:style=>'color:#ffffff;' %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <font color="#FFF" size="2">Del <%=evento.fecha_inicio%> al <%=evento.fecha_inicio%></font>
          </h4>  
          <div>
            <%if evento.descripcion.size > 50%>
              <% string = evento.descripcion %>
              <% tr_string = string[0, 50] + "..." + string[-5,5] %>
              <font color="#FFF"><%=tr_string%></font>
            <%else%>
              <font color="#FFF"><%=evento.descripcion%></font>
            <%end%>
          </div>
          
            <% if current_user != nil && current_user.rol == "admin"%>  
              <div class="panel panel-info">
                <div class="panel-body">
                  <%= link_to 'Editar ', edit_evento_path(evento),:style=>'color:#ffffff;' %>
                  &nbsp;
                  <%= link_to 'Eliminar', evento, method: :delete, data: { confirm: 'Esta seguro?' } ,:style=>'color:#ffffff;'%>
                </div>
              </div>
            <% end %>    
          
          
        </td>
        
        
      </tr>
    
    <% end %>
  </tbody>
</table>

<% if current_user != nil && current_user.rol == "admin"%>
  <h3>
    <%= link_to 'Nuevo Evento', new_evento_path,:style=>'color:#ffffff;' %>
  </h3>  
<% end %>  