<font color="white"><h2>Lista de Eventos</h2></font>
<br>





<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th><font color="#FFF">Nombre</font></th>
      <th><font color="#FFF">Descripcion</font></th>
      <th><font color="#FFF">Fecha inicio</font></th>
      <th><font color="#FFF">Fecha fin</font></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @eventos.each do |evento| %>
      <tr class="active">
        <td><font color="#FFF"><%=evento.nombre%></font></td>
        <td><font color="#FFF"><%=evento.descripcion%></font></td>
        <td><font color="#FFF"><%=evento.fecha_inicio%></font></td>
        <td><font color="#FFF"><%=evento.fecha_fin%></font></td>
        <td><%= link_to 'Ver', evento,:style=>'color:#ffffff;' %></td>
        <td><%= link_to 'Editar ', edit_evento_path(evento),:style=>'color:#ffffff;' %></td>
        <td><%= link_to 'Destroy', evento, method: :delete, data: { confirm: 'Are you sure?' },:style=>'color:#ffffff;' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <%= link_to 'Nuevo Evento', new_evento_path,:style=>'color:#ffffff;' %>