<%= form_for @survey, :html => { :multipart => true } do |f| %>
<form class="form-horizontal">
  <fieldset>

  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul> 
    </div>
  <% end %> 

  <div class="form-group" >
    <!--%= f.label :name, 'Nombre', :class => 'control-label',:for =>'inputDefault' %--><br>
    <%= f.text_field :name,:class => 'form-control input-lg' ,:placeholder=>"Nombre Cuestionario",:required => true%>
  </div>

    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', :ff => builder %>
    <% end %>


    <p ><%= link_to_add_fields "Adicionar pregunta", f, :questions %></p>  
    
  <div class="field">
  <%= f.hidden_field :evento_id,:value=>@evento.id %>
  </div>
  <br>
  <br>
  <br>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">
        <br>
        <!--%= f.file_field :image %-->
        
        <% if @survey.archivo.exists? %>
          Documento actual<br>
          <%=  @survey.archivo_file_name.to_s %>
          <%= image_tag @survey.archivo.url(:thumb) %><br/>

          
        <% end %>
        <%= f.file_field :archivo %>
      </h3>
    </div>
  </div>


  <br>
  <div class="actions">
    <%= f.submit 'Crear Cuestionario' ,:class => "btn btn-warning"%>
  </div>





  

  </fieldset>
</form>
<% end %>


