        
  

<%= form_for(@survey) do |f| %>
<form class="form-horizontal">
  <fieldset>

  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul> 
    </div>
  <% end %> 

  <div class="field">
    <%= f.hidden_field :evento_id,:value=>@evento.id %>
  </div>

  <div class="form-group" >
    <!--%= f.label :name, 'Nombre', :class => 'control-label',:for =>'inputDefault' %--><br>
    <%= f.text_field :name,:class => 'form-control input-lg' ,:placeholder=>"Nombre Cuestionario",:required => true%>
  </div>


    
  
    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', :ff => builder %>
    <% end %>


    <p ><%= link_to_add_fields "Adicionar pregunta", f, :questions %></p>  
    

  

  <br>
  <br>
  <br>
  <br>
  <div class="actions">
    <%= f.submit 'Crear Cuestionario' ,:class => "btn btn-success"%>
  </div>
  </fieldset>
</form>
<% end %>


