<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
        <% @survey.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul> 
    </div>
  <% end %> 

  <div class="field">
    <%= f.hidden_field :evento_id,:value=>@evento.id %>
  </div>

  <div class="field">
    <%= f.label :name, 'Nombre' %><br>
    <%= f.text_field :name %>
  </div>

  <ul>
  <p><%= link_to_add_fields "Adicionar pregunta", f, :questions %></p>  
  </ul>
  
    <%= f.fields_for :questions do |builder| %>
      <%= render 'question_fields', :ff => builder %>
    <% end %>

  

  <br>
  <br>
  <br>
  <br>
  <div class="actions">
    <%= f.submit 'Crear Cuestionario' %>
  </div>
<% end %>

