<div id="contenedor">
	
	<p>
		<ul>
		    <%= ff.label :content, "Question" %><br />
		    <%= ff.text_area :content, :rows => 3 %><br />
		</ul>   
	 	<%= ff.hidden_field :_destroy %>
  		<input type="button" onClick="remove_field1(this)" value="Eliminar pregunta"/>
	</p>
	<ul>
		<%= ff.fields_for :answers do |builder| %>
		  <%= render 'answer_fields', :f => builder %>
		<% end %> 
		<div>
			<p><%= link_to_add_fields "Add Answer", ff, :answers %></p>
		</div>
	</ul>
	
</div>


<SCRIPT type="text/javascript">
	function remove_field1(link) {
		try{ 
			var sd = $(link).prev("input[type=hidden]").first().val();
			if (sd == '1') {
				$(link).prev("input[type=hidden]").first().val("0");
				$(link).parent("div").find("ul").show('slow');
				$(link).parent().find('input[type=button]').first().val('Eliminar');
			} else {
				$(link).prev("input[type=hidden]").first().val("1");
				$(link).parent("div").find("ul").toggle('slow');
				$(link).parent().find('input[type=button]').first().val('Mostrar');
			}	
		}
		catch(err){
			alert(err.message);
		}
		return false;
	}
</SCRIPT>
