<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @survey.name %>
</p>

<ol>
  <% for question in @survey.questions %>
  	<li><%= h question.content %></li>
  	<ul>
	    <% for answer in question.answers %>
	      <li><%= h answer.content %></li>
	    <% end %>
	</ul>
  <% end %>
</ol>

<%= link_to 'Editar', edit_survey_path(@survey) %> |
<div><%= link_to 'Atras', surveys_index_path(@evento.id),:style=>'color:#ffffff;' %></div>
