<%= form_for @post, :html => { :multipart => true } do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title, "Titulo" %><br>
    <%= f.text_field :title, :class=>'form-control', :placeholder=>'Escribe aqui el titulo del post', :maxlength => 50 %>
  </div>
  <div class="field">
  <%= f.hidden_field :evento_id,:value=>@evento.id %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content, :size => "130x30" %>
  </div>
  <div class="field">
  <%= f.label :image, "Imagen" %>
  <%= f.file_field :image, :class=>'form-control',:placeholder=>'Vista miniatura para el post' %>
</div>
<%if @post.post_attatchments.size>0%>
    <div class="field">
      
<h3>Archivos</h3>
<table class="table table-striped table-hover">
  <thead>
    <tr>  
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@post.post_attatchments.each do |attatchment| %>
    <tr class="active">
      <td>
        <%= link_to attatchment.image_file_name, attatchment, :method => :delete, data: { confirm: 'Are you sure?' } %>
     <a href="/post_attatchments/download/<%=attatchment.id%>"></a>   
    </td>
  <tr>
    <%end%>

  
  </tbody>
</table> 

    </div>
<%end%>

  <div class="actions">
    <%= f.submit 'Aceptar', :class=>"btn btn-primary" %>
  </div>
<% end %>

<script>
function insertImage()
{
$('textarea').sceditor('instance').insert('[img]http://img2.wikia.nocookie.net/__cb20140207202456/es.pokemon/images/5/56/Charmander.png[/img]');
}
      // Source: http://www.backalleycoder.com/2011/03/20/link-tag-css-stylesheet-load-event/
      var loadCSS = function(url, callback){
        var link = document.createElement('link');
        link.type = 'text/css';
        link.rel = 'stylesheet';
        link.href = url;
        link.id = 'theme-style';

        document.getElementsByTagName('head')[0].appendChild(link);

        var img = document.createElement('img');
        img.onerror = function(){
          if(callback) callback(link);
        }
        img.src = url;
      }

      $(document).ready(function() {
        var initEditor = function() {
          $("textarea").sceditor({
            plugins: 'bbcode',
            style: "/assets/jquery.sceditor.default.min.css"

          });

        };

        $("#theme").change(function() {
          var theme = "/assets/" + $(this).val() + ".min.css";

          $("textarea").sceditor("instance").destroy();
          $("link:first").remove();
          $("#theme-style").remove();

          loadCSS(theme, initEditor);
        });

        initEditor();
      });
    </script>
