<h3 align="center">Posts de <%=@evento.nombre%></h3>

<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr class="active" style='cursor:pointer'>
        <%if post.image.exists?%>
        <td><%= image_tag post.image.url(:thumb) %></td>
        <%else%>
        <td><%= image_tag '/assets/missing.png', :size=>"100x100" %></td>
          
        <%end%>
        <td> <div class="alert alert-dismissable alert-info">
            
            Comentarios: <br> <br>
        
            <p align="center">
          <fb:comments-count href="http://ferro-tools.com/arzobizpado/<%=post.id%>"></fb:comments-count> 
</p>
            
          </div></td>
        
        <td><span><%=image_tag 'post.png',:size=>'20x20'%></span><font ><b> <%= post.title %></b><br>
          <i><%=image_tag 'user.png',:size=>'20x20'%></i><span>
admin@admin.com
</span><br>
  <span><%=image_tag 'calendar.png',:size=>'20x20'%></span>
 <span >

<%=post.created_at.to_date%>
</span></font></td>
        <td><%= link_to image_tag("detail.png",:size=>'25x25'), post,:style=>'color:#ffffff;',:class => 'btn btn-mini btn-success','data-no-turbolink' => true %></td>
       <%if(current_user!=nil && current_user.rol=='admin')%>
        <td><%= link_to image_tag("ic_action_edit.png",:size=>'25x25'), edit_post_path(post),:style=>'color:#ffffff;',:class => 'btn btn-mini btn-warning'%></td>
        <td><%= link_to image_tag("delete.png",:size=>'25x25'), post,
            data: { confirm: 'Esta seguro?' }, :method => :delete,:class => 'btn btn-mini btn-danger' %></td>

        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if(current_user!=nil && current_user.rol=='admin')%>
<%= link_to image_tag("ic_action_new.png"), new_post_id_path(@evento_id),:class=>"btn btn-primary" %>
<%end%>
