
<script>
var loadCSS = function(url, callback){
        var link = document.createElement('link');
        link.type = 'text/css';
        link.rel = 'stylesheet';
        link.href = url;
        link.id = 'theme-style';

        document.getElementsByTagName('head')[0].appendChild(link);

        var img = document.createElement('img');
        img.onerror = function(){
          if(callback) callback(link);
        }
        img.src = url;
      }
$(document).ready(function() {
        var initEditor = function() {
          $("textarea").sceditor({
            plugins: 'bbcode',
            toolbar: "bold,italic,underline|source",
            style: "/assets/jquery.sceditor.default.min.css"

          });

    var html = giveFormat("<%= escape_javascript(@post.content)%>");
    var nestedDiv = document.getElementById("nested");
    nestedDiv.innerHTML = html;
    <%@comments.each do |comment|%>
      var html_comment=giveFormat("<%= escape_javascript(comment.content)%>");
      var commentDiv = document.getElementById("comment-<%=comment.id%>");
      commentDiv.innerHTML = html_comment;
    <%end%>
      function giveFormat(text)
      {
        var html = $("textarea").sceditor('instance').fromBBCode(text);
        
        return html;
      }
        };

        $("#theme").change(function() {
          var theme = "/assets/" + $(this).val() + ".min.css";

          $("textarea").sceditor("instance").destroy();
          $("link:first").remove();
          $("#theme-style").remove();

          loadCSS(theme, initEditor);
        });

        initEditor();
      });

    function setComment()
    {
      <%@editcomment.content="asdasd"%>
      <%@editcomment.id="1"%>
    }
     
    </script>

<div class="row">
<div class="panel panel-primary">
   <div class="panel-heading">
<p id="notice"><%= notice %></p>

<p>
 
 <h2 align="center"> <%= @post.title %> </h2>
 <span>
<b>Autor: </b><%=@post.user.email%>
</span>
 <span style="float:right;">
<b>Fecha: </b><%=@post.created_at%>
</span>

</p>
</div>
  <div class="panel-body">

<div class="fb-share-button" data-href="http://ferro-tools.com/arzobizpado/<%=@post.id%>"></div>
<div id="nested"></div>
<br>




<div class="col-lg-7">
<%if(@post.post_attatchments.size>0)%>
<h3>Archivos</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>  
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@post.post_attatchments.each do |attatchment| %>
    <tr class="active">
      <td>
     <a href="/post_attatchments/download/<%=attatchment.id%>"><%=attatchment.image_file_name%></a>   
    </td>
  <tr>
    <%end%>

  
  </tbody>
</table> 
<%end%>
<%if(current_user!=nil && current_user.rol=='admin')%>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%end%>
<%= link_to 'Back', posts_index_path(@post.evento_id),'data-no-turbolink' => true%>
</div>
</div>
</div>
</div>
  <div style="display:none;">
  <textarea ></textarea>
  </div>
    

  <div class="row" align="center">
<div class="fb-comments" data-href="ferro-tools.com/arzobizpado/<%=@post.id%>" data-width="600" data-num-posts="2" align="center"></div>
     </div>
     <div id="fb-root"></div>


