
<script>
    $(function() {
    $("textarea").sceditor({
    plugins: "bbcode",
    style: "minifasdasied/jquery.sceditor.default.min.css"
    });

    var html = giveFormat("<%= escape_javascript(@post.content)%>");
    var nestedDiv = document.getElementById("nested");
    nestedDiv.innerHTML = html;
    <%@comments.each do |comment|%>
    	var html_comment=giveFormat("<%= escape_javascript(comment.content)%>");
    	var commentDiv = document.getElementById("comment-<%=comment.id%>");
    	commentDiv.innerHTML = html_comment;
    <%end%>
   		function giveFormat(text)
     	{
     	  var html = $("textarea").sceditor('instance').fromBBCode(text);
     	  
   			return html;
   		}
    
    });
    function setComment()
    {
      <%@editcomment.content="asdasd"%>
      <%@editcomment.id="1"%>
    }
     
    </script>

<div class="row">
<p id="notice"><%= notice %></p>

<p>
 
 <h1 align="center"> <%= @post.title %> </h1>
</p>
<div id="nested"></div>
<br>




<div class="col-lg-7">
<h3>Archivos</h3>
<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Launch Demo Modal</a>
<table class="table table-striped table-hover">
  <thead>
    <tr>  
      <th></th>
    </tr>
  </thead>
  <tbody>
    <%@post.post_attatchments.each do |attatchment| %>
    <tr class="active">
      <td>
     <a href="/post_attatchments/download/<%=attatchment.id%>"><%=attatchment.image_file_name%></a>   
    </td>
  <tr>
    <%end%>

  
  </tbody>
</table> 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_index_path(@post.evento_id) %>
</div>

</div>
<div class="row">
	<div class="col-lg-10">
	<div class="well">
		<fieldset>
			<legend>Comentar:</legend>
			<%= form_for @comment do |f| %>
		  <div class="field">
			<%= f.label :content %><br>
			<%= f.text_area :content, :size => "100x15" %>
			<%= f.hidden_field :post_id,:value=>@post.id.to_s %><br>
			<input type="submit" class="btn btn-primary" value="Comentar">
	      </div>
	      <%end%>
	  </fieldset>
	</div>
	</div>

	<%@comments.each do |comment|%>
	<%if comment.visible?%>
	<div class="row">
	<div class="col-lg-10">


		<div class="panel panel-default">

  <div class="panel-heading">Usuario</div>
  <div class="panel-body">
  	<div id="comment-<%=comment.id%>" class="ellipsis"></div><br>
    <a href="#myModal" data-toggle="modal" onClick="setComment();">Editar</a>

    
  </div>
</div>
		
		</div></div>
		<%end%>
	<%end%>
	<%= paginate @comments%>
</div>



<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <%= render 'comments/edit_remote' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
