<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>CSS Dock Menu</title>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
<link href="/assets/style.css" rel="stylesheet" type="text/css" />


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

  <link rel="stylesheet" href="/resources/demos/style.css">
  


<!--[if lt IE 7]>
 <style type="text/css">
 .dock img { behavior: url(iepngfix.htc) }
 </style>
<![endif]-->

</head>
<body style='background-image:url(http://www.calvinwan.com/wp-content/uploads/2011/11/gradient-background-c.jpg);'>

  

<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>

<div class="navbar navbar-default navbar-fixed-top">



  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">arzobispado Logo</a>
  </div>
  
  <div class="navbar-collapse collapse navbar-responsive-collapse">



        
    
    	
		
	
	
	
  </div>
</div>



<div id="page-wrapper" style="min-height: 261px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">26</div>
                                    <div>New Comments!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-tasks fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">12</div>
                                    <div>New Tasks!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-shopping-cart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">124</div>
                                    <div>New Orders!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-support fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">13</div>
                                    <div>Support Tickets!</div>
                                </div>
                            </div>
                        </div>
                        <a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">View Details</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
</div>            


<div class='row'>
	<div class='col-lg-1'></div>
	
	<% if @submenu==1 %>
		<div class='col-lg-3'>
			<%= render 'layouts/events_sub'%>
		</div>
	<% else %>	
		<div class='col-lg-3'>
			<%= render 'layouts/start_sub'%>
		</div>
	<% end %>	

	<div class='col-lg-7'>
		<br><br><br><br><br><br><br>
		<div class="jumbotron">
			<br>
      <% if user_signed_in? %>
        <font color="white">Hola <strong><%= current_user.email %></strong>
        </font>  <br>
                <%= link_to 'Editar', edit_user_registration_path,:style=>'color:#ffffff;', :class => 'navbar-link' %>
        
        <%= link_to "Salir", destroy_user_session_path,:style=>'color:#ffffff;', method: :delete %>
      <% else %>
        <%= link_to "Crear una Cuenta", new_user_registration_path,:style=>'color:#ffffff;', :class => 'navbar-link'  %> |
        <%= link_to "Ingresar", new_user_session_path,:style=>'color:#ffffff;', :class => 'navbar-link'  %>
      <% end %>
			<br><br><br><br>



			<%= yield %>
			<br><br>
     
      <br><br><br><br><br><br><br><br><br><br><br>
 		</div>
 	</div>

	<div class='col-lg-1'></div>
</div>

	
<!--bottom dock -->


<!--dock menu JS options -->
<script type="text/javascript">
	
	$(document).ready(
		function()
		{
			$('#dock').Fisheye(
				{
					maxWidth: 90,
					items: 'a',
					itemsText: 'span',
					container: '.dock-container',
					itemWidth: 60,
					proximity: 40,
					halign : 'center'
				}
			)
		}
	);

</script>

<footer id="footer" style="">
  <div class="panel panel-default">
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2 col-sm-12">
              <h4>Ferro Tools</h4>
              <p>Ferro tools es una tienda virtual, en el area ferretera, oferca productos de hogar hasta industriales, para las damas ofrecemos herramientas de jardineria y bricolage</p>
            </div>
            <div class="col-lg-3 col-sm-12 ">
              <h4>Términos y condiciones</h4>
              <div id="tweet" class="twitter" data-account-id="crivosthemes">
                <p>Véa los términos y clasusulas de uso de la página web aqui
                <a href="/legal.html"> Términos y condiciones </a></p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="contact-details">
                <h4>Contáctanos</h4>
                <ul class="contact">
                  <li><p><i class="icon-map-marker"></i> <strong>Dirección:</strong>C/ nombre de la calle</p></li>
                  <li><p><i class="icon-phone"></i> <strong>Teléfono</strong> 4-xxx-xxx</p></li>
                  <li><p><i class="icon-link"></i> <strong>Celular:</strong> 7-xxx-xxxx</p></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <h4>Síguenos</h4>
              <div class="social-icons">
                <ul class="social-icons">
                  <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                  <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                  <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
</footer>

</body>
</html>
