<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <title>Arzobispado</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :defaults, :cache => true %>
<SCRIPT type="text/javascript">
  function add_fields(link, association, content) {
    var new_id = new Date().getTime();
    var regexp = new RegExp("new_" + association, "g");
    $(link).parent().before(content.replace(regexp, new_id));
    return false;
  }
</SCRIPT>
  <meta property="fb:app_id" content="582929041818077"/>
</head>
<body style='background-image:url(/assets/bg-clouds.jpg); background-size: 100%;'>
  <br><br>
  <div class='row' >
<div class='col-lg-1'>
</div>

<div class='col-lg-10' style='background-color:#072f4d;'>



<img  src="/assets/asd.png" width="100%" height="100%">
    <div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/eventos">Inicio</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class=""><a href="/eventos">Eventos</a></li>
      
      
    </ul>
    <% if current_user != nil && current_user.rol == "admin"%>  
      <ul class="nav navbar-nav">
        <li class=""><a href="/permissionuser/index">Usuarios</a></li>
      </ul>
    <%end%>  

    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">


      <% if user_signed_in? %>
          <% @submenu=1 %>
          
          <%= link_to 'Editar', edit_user_registration_path,:style=>'color:#ffffff;', :class => 'navbar-link' %>
        
          <%= link_to "Salir", destroy_user_session_path,:style=>'color:#ffffff;', method: :delete %>
      <% else %>
          <%= link_to "Crear una Cuenta", new_user_registration_path,:style=>'color:#ffffff;', :class => 'navbar-link'  %> |
          <%= link_to "Ingresar", new_user_session_path,:style=>'color:#ffffff;', :class => 'navbar-link'  %>
      <% end %>
      <li><a href="#"></a></li>

      
    </ul>
  </div>
</div>
		
	  <!--      <p class='notice'><%= notice %></p>
          <p class='alert'><%= alert %></p>-->

	
	
  







<div class='row'>
	<div class='col-lg-1'></div>
	
	<% if @submenu==1 || current_user==nil%>
		<div class='col-lg-3'>
			<%= render 'layouts/events_sub'%>
		</div>
	<% else %>	
  	<div class='col-lg-3'>
			<%= render 'layouts/start_sub'%>
		</div>
	<% end %>	

	<div class='col-lg-8'>
		<div class="jumbotron">
			

			<%= yield %>
			<br><br><br>
 		</div>
 	</div>

	<div class='col-lg-1'></div>
</div>


<footer id="footer" style="">
  <div class="panel panel-default">
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-4 col-sm-12">
              <h4>Arquidiócesis de Cochabamba</h4>
              <p>MISION La Comision de Comunicacion del Arquidiócesis de Cochabamba es un ente de fe y servicio en Cristo; que dinamiza, gestiona tiene una extensión aproximada de 32.306 km2 y está integrada por 13 de las 16 provincias que conforman el Departamento del mismo nombre</p>
            </div>
            <!--div class="col-lg-3 col-sm-12 ">
              <h4>Términos y condiciones</h4>
              <div id="tweet" class="twitter" data-account-id="crivosthemes">
                <p>Véa los términos y clasusulas de uso de la página web aqui
                <a href="/legal.html"> Términos y condiciones </a></p>
              </div>
            </div-->
            <div class="col-lg-3 col-sm-12">
              <div class="contact-details">
                <h4>Contáctanos</h4>
                <ul class="contact">
                  <li><p><i class="icon-map-marker"></i> <strong>Dirección:</strong>Av Heroínas entre Av Ayacucho y Mariano Baptista</p></li>
                  <li><p><i class="icon-phone"></i> <strong>Teléfono</strong> 4-xxx-xxx</p></li>
                  <li><p><i class="icon-link"></i> <strong>Celular:</strong> 7-xxx-xxxx</p></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <h4>Síguenos</h4>
              <div class="social-icons">
                <ul class="social-icons">  
                  <li class="facebook"><a href="http://www.facebook.com/comision.cochabamba?ref=ts&fref=ts" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                  <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                  <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
</footer>
<div class="col-lg-1"></div>
</div>
</div>
</body>
</html>
