<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <title>Arzobispado</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


</head>
<body style='background-image:url(http://www.payperbox.co.uk/ekmps/shops/payperbox/images/10-sheets-of-a4-plain-cream-paper-130gsm-1812-p.jpg);'>

  

<p class='notice'><%= notice %></p>
<p class='alert'><%= alert %></p>





  
  
  


        
    <div class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/eventos">Inicio</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li class=""><a href="/eventos">Evento</a></li>
    


      <li><a href="#">Link</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Dropdown header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <input type="text" class="form-control col-lg-8" placeholder="Search">
    </form>
    <ul class="nav navbar-nav navbar-right">


      <% if user_signed_in? %>
          <%= link_to 'Editar', edit_user_registration_path,:style=>'color:#ffffff;', :class => 'navbar-link' %>
        
          <%= link_to "Salir", destroy_user_session_path,:style=>'color:#ffffff;', method: :delete %>
      <% else %>
          <%= link_to "Crear una Cuenta", new_user_registration_path,:style=>'color:#ffffff;', :class => 'navbar-link'  %> |
          <%= link_to "Ingresar", new_user_session_path,:style=>'color:#ffffff;', :class => 'navbar-link'  %>
      <% end %>
      <li><a href="#"></a></li>

      
    </ul>
  </div>
</div>
		
	
	
	
  







<div class='row'>
	<div class='col-lg-1'></div>
	
	<% if @submenu==1 %>
		<div class='col-lg-3'>
			<%= render 'layouts/events_sub'%>
		</div>
	<% else %>	
  	<div class='col-lg-3'>
			<%= render 'layouts/start_sub'%>
		</div>
	<% end %>	

	<div class='col-lg-7'>
		<br><br><br><br><br><br><br>
		<div class="jumbotron">
			

			<%= yield %>
			<br><br><br>
 		</div>
 	</div>

	<div class='col-lg-1'></div>
</div>


<footer id="footer" style="">
  <div class="panel panel-default">
          <div class="row">
            <div class="col-lg-1">
            </div>
            <div class="col-lg-2 col-sm-12">
              <h4>Ferro Tools</h4>
              <p>Ferro tools es una tienda virtual, en el area ferretera, oferca productos de hogar hasta industriales, para las damas ofrecemos herramientas de jardineria y bricolage</p>
            </div>
            <div class="col-lg-3 col-sm-12 ">
              <h4>Términos y condiciones</h4>
              <div id="tweet" class="twitter" data-account-id="crivosthemes">
                <p>Véa los términos y clasusulas de uso de la página web aqui
                <a href="/legal.html"> Términos y condiciones </a></p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <div class="contact-details">
                <h4>Contáctanos</h4>
                <ul class="contact">
                  <li><p><i class="icon-map-marker"></i> <strong>Dirección:</strong>C/ nombre de la calle</p></li>
                  <li><p><i class="icon-phone"></i> <strong>Teléfono</strong> 4-xxx-xxx</p></li>
                  <li><p><i class="icon-link"></i> <strong>Celular:</strong> 7-xxx-xxxx</p></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12">
              <h4>Síguenos</h4>
              <div class="social-icons">
                <ul class="social-icons">
                  <li class="facebook"><a href="http://www.facebook.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Facebook">Facebook</a></li>
                  <li class="twitter"><a href="http://www.twitter.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Twitter">Twitter</a></li>
                  <li class="linkedin"><a href="http://www.linkedin.com/" target="_blank" data-placement="bottom" rel="tooltip" title="Linkedin">Linkedin</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        
</footer>

</body>
</html>
